@charset "UTF-8";
/* Partials */
/* Mixins */
/* Lista de Colores */
/* Lista de Fuentes */
/* Variables */
/* Colores */
/*  Estructuras */
/* Fuentes */
/* Fonts | Conectarme a los servidores de google donde ellos guardan estas fuentes y me la traigo a mi codigo de manera online */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&display=swap");
/* Se utiliza una regla de CSS para poder integrar a tus estilos una fuente local */
@font-face {
  /* Es el nombre que le dan a la fuente personalizada */
  font-family: roboto-parrafos;
  /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
  src: url("fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Es el nombre que le dan a la fuente personalizada */
  font-family: roboto-titulos;
  /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
  src: url("fonts/roboto-fontfacekit/web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}
@font-face {
  /* Es el nombre que le dan a la fuente personalizada */
  font-family: roboto-subtitulos;
  /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
  src: url("fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Es el nombre que le dan a la fuente personalizada */
  font-family: roboto-menunav;
  /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
  src: url("fonts/roboto-fontfacekit/web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Fin definicion de fuentes */
/* Mapas */
/* Extensiones */
h1 {
  background: radial-gradient(circle, #da8954 0%, rgba(255, 255, 255, 0) 100%);
  /* Declaro la fuente que quiero utilizar */
  font-family: "roboto-titulos", sans-serif;
  /* Podemos tambien escribir los cuatros lados con sus valores indivuales en la propiedad general */
  padding: 10px 40px 10px 0;
  /* size (tamaño) style (estilo) color */
  border: 2px solid black;
  /* border-bottom: 2px dotted blue;
  border-top: 1px solid black; */
  /* redondear las esquinas de la caja */
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  /* Centrar un elemento (algunos) */
  text-align: center;
}

h2 {
  /* Declaro la fuente que quiero utilizar */
  font-family: "roboto-subtitulos", sans-serif;
  /* Podemos tambien escribir los cuatros lados con sus valores indivuales en la propiedad general */
  padding: 10px 10px 10px 10px;
  /* Centrar un elemento (algunos) */
  text-align: center;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

/* Header */
/* Footer */
.pie {
  grid-area: pie;
  margin-top: 10px;
  padding: 10px;
  grid-column: 1/5;
  text-decoration: none;
}
.pie p {
  background-color: #da8954;
  text-align: center;
}
.pie a {
  padding-right: 20px;
}
.pie #social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie .iconosocial {
  width: 30px;
  height: 30px;
}
.pie .iconosocial:hover {
  transform: scale(1.5);
}

/* Nosotros */
.nosotros {
  grid-area: nosotros;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid black; */
  /* background-color: lightgreen; */
}

.ubicacion {
  grid-area: ubicacion;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1/3;
  /* border: 1px solid black; */
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#local {
  grid-area: local;
  margin-top: 10px;
  padding-right: 20px;
  text-align: center;
}

#contacto {
  grid-area: contacto;
  margin-top: 10px;
  padding-right: 20px;
  text-align: center;
}

/* Contacto */
.formcontacto {
  grid-area: formcontacto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos para Formulario de contacto */
form {
  width: 50%;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 2px 8px #aaa;
}
@media only screen and (max-width: 480px) {
  form {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  form {
    width: 65%;
  }
}

input, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
}

input[type=submit] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

/* Final Estilos para Formulario de contacto */
/* Productos */
.inicioproductos {
  grid-area: inicioproductos;
  /* border: 1px solid black; */
  /* background-color: lightgreen; */
  border-radius: 20px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.75);
}
@media only screen and (min-width: 981px) {
  .inicioproductos {
    grid-column: 2/5;
  }
}

.w-iniprod {
  width: 100%;
}

.i-block {
  border-radius: 20px;
}

.miraproductosinicio {
  grid-area: miraproductosinicio;
  font-size: 22px;
  border: 1px solid black;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 480px) {
  .miraproductosinicio {
    font-size: 16px;
  }
}

.miraproductosinicio a {
  padding-right: 20px;
  color: white;
}

.espacio {
  grid-area: espacio;
  border: 1px solid black;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
}

.productos {
  grid-area: productos;
  margin: 20px;
}

.productos img {
  width: 400px;
  height: 250px;
  padding: 3px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.productos img:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 30px 2px rgb(1, 255, 234);
  border-radius: 20px;
}

/* Testimonios */
.opiniones {
  grid-area: opiniones;
  margin-top: 10px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.menunav {
  /* Declaro la fuente que quiero utilizar */
  font-family: "roboto-menunav", sans-serif;
  font-size: 25px;
  text-align: right;
}

em, strong {
  background-color: bisque;
}

/* Pseudoclase */
.enlace:hover {
  font-size: 18px;
  font-weight: bold;
}

.menunav:hover {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  background: linear-gradient(90deg, rgb(9, 9, 121) 0%, #1414ee 35%, #8b8bf6 100%);
}

/* Pseudoelemento */
p::first-letter {
  text-transform: uppercase;
}

.icono {
  width: 200px;
  height: 100px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.titulo {
  grid-area: titulo;
}

.cabecera {
  grid-area: cabecera;
  background-image: url(../multimedia/FondoLogoSup.svg);
  position: relative;
  height: 100;
  width: 100%;
  border-radius: 10px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.75);
}

body {
  background-image: url(../multimedia/bg3.jpg);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  /* Aca dentro escribimos css comun */
  h1 {
    font-size: 22px;
  }
  .grilla {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera" "titulo" "inicioproductos" "miraproductosinicio" "nosotros" "ubicacion" "local" "contacto" "pie";
  }
}
@media only screen and (max-width: 480px) and (max-width: 480px) {
  .grilla {
    gap: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .grilla-testimonios {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera" "titulo" "miraproductosinicio" "opiniones" "productos" "local" "contacto" "pie";
  }
}
@media only screen and (max-width: 480px) and (max-width: 480px) {
  .grilla-testimonios {
    gap: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .grilla-productos {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera" "titulo" "miraproductosinicio" "productos" "local" "contacto" "pie";
  }
}
@media only screen and (max-width: 480px) and (max-width: 480px) {
  .grilla-productos {
    gap: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .grilla-nosotros {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera" "titulo" "miraproductosinicio" "nosotros" "ubicacion" "local" "contacto" "pie";
  }
}
@media only screen and (max-width: 480px) and (max-width: 480px) {
  .grilla-nosotros {
    gap: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .grilla-contactos {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera" "titulo" "miraproductosinicio" "formcontacto" "local" "contacto" "pie";
  }
}
@media only screen and (max-width: 480px) and (max-width: 480px) {
  .grilla-contactos {
    gap: 0em;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 980px) {
  /* Aca dentro escribimos css comun */
  .grilla {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "inicioproductos inicioproductos inicioproductos inicioproductos" "miraproductosinicio miraproductosinicio miraproductosinicio miraproductosinicio" "nosotros nosotros nosotros nosotros" "ubicacion ubicacion local contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) and (max-width: 480px) {
  .grilla {
    gap: 0em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .grilla-testimonios {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "opiniones opiniones opiniones opiniones" "productos productos productos productos" "local local contacto contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) and (max-width: 480px) {
  .grilla-testimonios {
    gap: 0em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .grilla-productos {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "productos productos productos productos" "local local contacto contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) and (max-width: 480px) {
  .grilla-productos {
    gap: 0em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .grilla-nosotros {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "nosotros nosotros nosotros nosotros" "ubicacion ubicacion local contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) and (max-width: 480px) {
  .grilla-nosotros {
    gap: 0em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .grilla-contactos {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "formcontacto formcontacto formcontacto formcontacto" "local local contacto contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) and (max-width: 480px) {
  .grilla-contactos {
    gap: 0em;
  }
}
/* Descktop */
@media only screen and (min-width: 981px) {
  /* Aca dentro escribimos css comun */
  .grilla {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo titulo" "inicioproductos inicioproductos inicioproductos inicioproductos inicioproductos" "miraproductosinicio miraproductosinicio miraproductosinicio miraproductosinicio miraproductosinicio" "nosotros nosotros nosotros nosotros nosotros" "ubicacion ubicacion local contacto contacto" "pie pie pie pie pie";
  }
}
@media only screen and (min-width: 981px) and (max-width: 480px) {
  .grilla {
    gap: 0em;
  }
}
@media only screen and (min-width: 981px) {
  .grilla-testimonios {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "opiniones opiniones opiniones opiniones" "productos productos productos productos" "local local contacto contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 981px) and (max-width: 480px) {
  .grilla-testimonios {
    gap: 0em;
  }
}
@media only screen and (min-width: 981px) {
  .grilla-productos {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "productos productos productos productos" "local local contacto contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 981px) and (max-width: 480px) {
  .grilla-productos {
    gap: 0em;
  }
}
@media only screen and (min-width: 981px) {
  .grilla-nosotros {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "nosotros nosotros nosotros nosotros" "ubicacion ubicacion local contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 981px) and (max-width: 480px) {
  .grilla-nosotros {
    gap: 0em;
  }
}
@media only screen and (min-width: 981px) {
  .grilla-contactos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 50vh;
    grid-template-areas: "cabecera cabecera cabecera cabecera" "titulo titulo titulo titulo" "formcontacto formcontacto local contacto" "pie pie pie pie";
  }
}
@media only screen and (min-width: 981px) and (max-width: 480px) {
  .grilla-contactos {
    gap: 0em;
  }
}

/*# sourceMappingURL=style.css.map */
