*{
    margin: 0;
    padding: 0;
}

/* Fonts | Conectarme a los servidores de google donde ellos guardan estas fuentes y me la traigo a mi codigo de manera online */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&display=swap');

/* Se utiliza una regla de CSS para poder integrar a tus estilos una fuente local */
@font-face {
    /* Es el nombre que le dan a la fuente personalizada */
    font-family: roboto-parrafos;
    /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
    src: url('fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Es el nombre que le dan a la fuente personalizada */
    font-family: roboto-titulos;
    /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
    src: url('fonts/roboto-fontfacekit/web-fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Es el nombre que le dan a la fuente personalizada */
    font-family: roboto-subtitulos;
    /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
    src: url('fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Es el nombre que le dan a la fuente personalizada */
    font-family: roboto-menunav;
    /* La ruta del archivo de tu fuente | Hay dos valores, url y format, url donde está tu fuente y format el formato de la fuente para asegurar la compatibilidad */
    src: url('fonts/roboto-fontfacekit/web-fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Fin definicion de fuentes */

/* Mobile */
@media only screen and (max-width: 480px){
    /* Aca dentro escribimos css comun */
    body{
        background-color: #f5c8c9;
    }

    h1{
        font-size: 22px;
        color: black;
    }
    .grilla{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr;
    
        grid-template-areas:
        'cabecera'
        'inicioproductos'
        'miraproductosinicio'
        'nosotros'
        'ubicacion'
        'local'
        'contacto'
        'pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-testimonios{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr;
    
        grid-template-areas:
        'cabecera'
        'inicioproductos'
        'miraproductosinicio'
        'opiniones'
        'productos'
        'local'
        'contacto'
        'pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-productos{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr;
    
        grid-template-areas:
        'cabecera'
        'inicioproductos'
        'miraproductosinicio'
        'productos'
        'local'
        'contacto'
        'pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-nosotros{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr;
    
        grid-template-areas:
        'cabecera'
        'inicioproductos'
        'miraproductosinicio'
        'nosotros'
        'ubicacion'
        'local'
        'contacto'
        'pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-contactos{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr;
    
        grid-template-areas:
        'cabecera'
        'inicioproductos'
        'miraproductosinicio'
        'formcontacto'
        'local'
        'contacto'
        'pie';
    
        gap: 5px;
        height: 50vh;
    }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 980px){
    /* Aca dentro escribimos css comun */
    body{
        background-color: #f1debc;
    }
    .grilla{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'miraproductosinicio miraproductosinicio miraproductosinicio miraproductosinicio'
        'nosotros nosotros nosotros nosotros'
        'ubicacion ubicacion local contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-testimonios{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'opiniones opiniones opiniones opiniones'
        'productos productos productos productos'
        'local local contacto contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-productos{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'productos productos productos productos'
        'local local contacto contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-nosotros{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'nosotros nosotros nosotros nosotros'
        'ubicacion ubicacion local contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-contactos{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'formcontacto formcontacto formcontacto formcontacto'
        'local local contacto contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
}

/* Descktop */
@media only screen and (min-width: 981px){
    /* Aca dentro escribimos css comun */
    body{
        background-color: #c8e0fc;
    }
    .grilla{
        display: grid;
        grid-template-rows: 120px 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'miraproductosinicio miraproductosinicio miraproductosinicio miraproductosinicio'
        'nosotros nosotros nosotros nosotros'
        'ubicacion ubicacion local contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-testimonios{
        display: grid;
        grid-template-rows: 120px 1fr 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'opiniones opiniones opiniones opiniones'
        'productos productos productos productos'
        'local local contacto contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-productos{
        display: grid;
        grid-template-rows: 120px 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'productos productos productos productos'
        'local local contacto contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-nosotros{
        display: grid;
        grid-template-rows: 120px 1fr 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'nosotros nosotros nosotros nosotros'
        'ubicacion ubicacion local contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
    .grilla-contactos{
        display: grid;
        grid-template-rows: 120px 1fr 1fr 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        'cabecera cabecera cabecera cabecera'
        'inicioproductos inicioproductos inicioproductos inicioproductos'
        'formcontacto formcontacto local contacto'
        'pie pie pie pie';
    
        gap: 5px;
        height: 50vh;
    }
}


.cabecera{
    grid-area: cabecera;
    /* background-color: white; */
    /* border: 1px solid black; */
    /* display: flex;
    justify-content:space-between; */
}

.inicioproductos{
    grid-area: inicioproductos;
    /* border: 1px solid black; */
    /* background-color: lightgreen; */
}

.miraproductosinicio{
    grid-area: miraproductosinicio;
    font-size: 22px;
    border: 1px solid black;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
}

.nosotros{
    grid-area: nosotros;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    /* background-color: lightgreen; */
}

.opiniones{
    grid-area: opiniones;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos{
    grid-area: productos;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos img{
    width: 400px;
    height: 250px;
    padding: 5px;
}

.formcontacto{
    grid-area: formcontacto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ubicacion{
    grid-area: ubicacion;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / 3;
    /* border: 1px solid black; */
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items:center ;
}

.pie{
    grid-area: pie;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    /* margin-bottom: 10px; */
    grid-column: 1 / 5;
    /* border: 1px solid black; */
    /* display: flex;
    justify-content:center;
    align-items: center ; */
}


em, strong{
    background-color: bisque;
}

/* a{
 text-decoration: none;   
} */

.menunav{
    /* Declaro la fuente que quiero utilizar */
    font-family: 'roboto-menunav', sans-serif;
    font-size: 20px;
    text-align: right;
}

/* Las propiedades que nos da la caja
- Contenido -> el texto, la imagen, contenido multimedia
- Relleno -> El espacio entre el contenido y el borde
- Borde -> La linea entre el relleno y el margen
- Margen -> El espacio entre la caja y las demas cajitas
*/

h1 {
    background-color: #da8954;
    /* Declaro la fuente que quiero utilizar */
    font-family: 'roboto-titulos', sans-serif;

    /* Podemos tambien escribir los cuatros lados con sus valores indivuales en la propiedad general */
    padding: 10px 40px 10px 0;

    /* size (tamaño) style (estilo) color */
    border: 2px solid black;
    /* border-bottom: 2px dotted blue;
    border-top: 1px solid black; */
    /* redondear las esquinas de la caja */
    border-radius: 10px;

    /* Centrar un elemento (algunos) */
    text-align: center; 
}

h2 {
    /* Declaro la fuente que quiero utilizar */
    font-family: 'roboto-subtitulos', sans-serif;
 
    /* Podemos tambien escribir los cuatros lados con sus valores indivuales en la propiedad general */
    padding: 10px 10px 10px 10px;

     /* Centrar un elemento (algunos) */
    text-align: center; 
 }

p {
    /* Declaro la fuente que quiero utilizar */
    font-family: 'roboto-parrafos', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Pseudoclase */
.enlace:hover{
    font-size: 18px;
    font-weight: bold;
}

a:visited{
    color: blueviolet;
    text-decoration: underline;
}

/* Pseudoelemento */
p::first-letter{
    text-transform: uppercase;
}

/* li { 
    margin-top: 10px;
    margin-bottom: 10px;
} */

.productosinicio{
    width: 450px;
    height: 300px;
}

#miraproductosinicio{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

/* header nav ul {
    text-decoration: none;   
    margin-top: 10px;
    padding-right: 20px;
} */

footer p {
    background-color: #da8954;
    /* Podemos tambien escribir los cuatros lados con sus valores indivuales en la propiedad general */
    /* padding: 10px 40px 10px 0; */
    /* text-align: center;  */
}

footer a{
    text-decoration: none;   
    margin-top: 10px;
    padding-right: 20px;
}

/* footer ul{
    text-align: right;
    display: flex;
    justify-content: center;

} */

/* #nosotros{
    margin-top: 30px;
    margin-bottom: 30px;
}

#dondeestamos{
    margin-top: 40px;
} */

#local{
    grid-area: local;
    margin-top: 10px;
    padding-right: 20px;
    text-align: center;
}

#contacto{
    grid-area: contacto;
    margin-top: 10px;
    padding-right: 20px;
    text-align: center;
}

#social{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.desarrollador{
    text-align: center;
}

.icono{
    width: 140px;
    height: 90px;
}

.iconosocial{
    width: 40px;
    height: 40px;
}
.iconosocial:hover{
    transform: scale(1.5);
}

.imagen-comienzo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20px;
    background-color: transparent;
}

/* Estilos para Formulario de contacto */
form {
    width: 50%;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 8px #aaa;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
}

input[type=submit] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0056b3;
}
/* Final Estilos para Formulario de contacto */
