/* Contacto */
.formcontacto{
    grid-area: formcontacto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Estilos para Formulario de contacto */
form {
    width: 50%;
    @media only screen and (max-width: 480px){
        width: 100%;
    }
    @media only screen and (min-width: 481px) and (max-width: 980px){
        width: 65%;
    }
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 8px #aaa;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
}

input[type=submit] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0056b3;
}
/* Final Estilos para Formulario de contacto */
