/* Footer */
.pie{
    grid-area: pie;
    // height: 50;
    // border: 2px solid black;
    // background-color: nth($Colores,2);
    margin-top: 10px;
    padding: 10px;
    grid-column: 1 / 6;
    text-decoration: none;   
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);

    p {
        // background: radial-gradient(circle, nth($Colores,12) 0%, nth($Colores,13) 100%);
        background-color: nth($Colores,12);
        text-align: center;
    }
    
    a{
        padding-right: 20px;
    }

    #social{
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    .iconosocial{
        width: 60px;
        height: 60px;
    }

    .iconosocial:hover{
        transform: scale(1.5);
    }
}
