/* Footer */
.pie{
    grid-area: pie;
    background-color: nth($Colores,2);
    margin-top: 10px;
    padding: 10px;
    grid-column: 1 / 5;
    text-decoration: none;   

    p {
        // background: radial-gradient(circle, nth($Colores,12) 0%, nth($Colores,13) 100%);
        background-color: nth($Colores,12);
        text-align: center;
    }
    
    a{
        padding-right: 20px;
    }

    #social{
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    .iconosocial{
        width: 30px;
        height: 30px;
    }

    .iconosocial:hover{
        transform: scale(1.5);
    }
}
