/* Lista de Colores */
$ColoresMobile: black, white, #f5c8c9;
$ColoresTablet: black, white, #f1debc;
$ColoresDescktop: black, white, #c8e0fc;
$Colores: black, white, red, blue, green, yellow, gold, rgba(2,0,36,1), rgba(9,9,121,1), rgba(0,212,255,1), #009bff, #da8954, rgba(255,255,255,0);


/* Lista de Fuentes */
