/* Variables */
/* Colores */
$color-principal: white;
$bg-color-general: black;
$color-hover: gold;

/*  Estructuras */
$border-principal: 1px solid black;
$redondeado: 10%;

/* Fuentes */
$font-titulos: 44px;
$font-subtitulos: 30px;
$font-parrafos: 20px;

